html {
    font-family: Arial !important;
}

h3 code {
    font-size: 20px;
}

#outerContainer {
    display: flex;
    justify-content: center;
}

#innerContainer {
    width: 850px;
}


.cpuUser {
    color: green;
    stroke: green;
    stroke-width: 3.0;
}
.cpuSystem {
    color: red;
    stroke: red;
    stroke-width: 2.0;
}
.cpuIdle {
    color: black;
    stroke: black;
    stroke-width: 1.0;
}

.memoryPercentUsed {
    color: green;
    stroke: green;
    stroke-width: 3.0;
}

.networkRxkb {
    color: blue;
    stroke: blue;
    stroke-width: 2.0;
}
.networkTxkb {
    color: orange;
    stroke: orange;
    stroke-width: 2.0;
}
.networkUtil {
    color: green;
    stroke: green;
    stroke-width: 3.0;
}
.networkUtilAxis {
    stroke: green;
    stroke-width: 1.0;
}

.ioRead {
    color: blue;
    stroke: blue;
    stroke-width: 2.0;
}
.ioWrite {
    color: orange;
    stroke: orange;
    stroke-width: 2.0;
}
.ioUtil {
    color: green;
    stroke: green;
    stroke-width: 3.0;
}
.ioUtilAxis {
    stroke: green;
    stroke-width: 1.0;
}